body,
html,
#root {
  /*
  height: 100%;
  */
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;

  background-color: #010c3f;
  color: #fff;
  font-size: 1.88rem;
  text-align: center;
  
  /*
  font-family: 'Poppins', sans-serif;
  */
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-size: 1.55rem;

  /*
  font-family: 'Poppins', sans-serif;
  */
}

.App {  
  padding: 0 17% 10% 17%;

  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  
  /*
  height: 100%;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  */
}

.AppPlaylist {  
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .AppPlaylist {
    flex-direction: column;
    align-items: center;
  }
}